@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition";

@include font-face("Ametist", font-files("Ametist.ttf"));
@include font-face("Underdog", font-files("Underdog.ttf"));

@mixin transition($time) {
  -webkit-transition: all ease $time;
     -moz-transition: all ease $time;
       -o-transition: all ease $time;
          transition: all ease $time;
}
@mixin transition-1s {
  -webkit-transition: all ease 1.0s;
     -moz-transition: all ease 1.0s;
       -o-transition: all ease 1.0s;
          transition: all ease 1.0s;
}

$color-red: #b2171d;
$color-gold: #e6e0b7;
$color-brown: #68310f;
$color-white-transparent: rgba(255, 255, 255, 0.51);

$animation-delay: 0.8s;
$border-brown: 1px solid $color-brown;
$font-Ametist: "Ametist", cursive;
$font-size-default: 14px;
$line-height-default: 20px;

%link-hover {
  @include transition(.5s);
  text-decoration: none;
  color: white;
}
%recipe-title {
  color: $color-brown;
  font-family: $font-Ametist;
  font-size: $font-size-default*2;
}

/* Bootstrap settings */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* Global */
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
body {
  background-image: url(../images/bg3.jpg);
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: contain;
}
#index-bg {
  background-image: url(../images/bg1.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* -------------- INDEX.HTML --------------*/
/* NAVBAR */
.navbar-default {
  background-color: $color-white-transparent;
  margin-top: 30px;
  border: none;
    .navbar-brand {
      margin-top: -40px;
        img {
          width: 100px;
          padding: 0;
        }
    }
    .navbar-nav > li {
      @include border-radius(15px);
      background-color: $color-red;
      font-family: $font-Ametist;
      font-size: $font-size-default+4;
      margin-left: 1px;
        a {
          @include transition-1s;
          color: $color-gold;
            &:hover {
              @extend %link-hover;
            }
        }
    }
    .navbar-right {
      .form-control {
        @include border-radius(20px);
          input {
            color: $color-gold;
          }
      }
      .btn-default {
        @include border-radius(10px);
        background-color: $color-red;
        margin-left: 1px;
        border: none;
          .search-text {
            @include transition-1s;
            color: $color-gold;
            font-family: $font-Ametist;
            font-size: $font-size-default;
              &:hover {
                @extend %link-hover;
              }
          }
      }
    }
  }

/* GALLERY */
#carousel-container {
  margin-top: 50px;
    .sliders-section {
      border: 5px dashed #000000;
    }
    #custom_carousel {
      img {
        max-height: 600px;
        background-size: cover;
      }
      a h1 {
        @include transition-1s;
        @include border-radius(15px);
        color: $color-gold;
        border: 1px solid $color-gold;
        font-family: $font-Ametist;
        font-size: $font-size-default*2;
        position: absolute;
        bottom: 3%;
        right: 2%;
        padding: 10px;
        background-color: rgba(178, 23, 29, 0.80);
          &:hover {
            @include transition(.5s);
            color: white;
          }
      }
      #slide-title-1 {
        -webkit-animation-delay: $animation-delay;
      }
      #slide-title-2 {
        -webkit-animation-delay: $animation-delay;
      }
      #slide-title-3 {
        -webkit-animation-delay: $animation-delay;
      }
      #slide-title-4 {
        -webkit-animation-delay: $animation-delay;
      }
    }
  }
#controls-container {
  .controls {
    ul li a {
      text-align: center;
    }
    li .active {
      @include transition(.5s);
      filter: brightness(100%);
    }
    img {
      @include transition-1s;
      margin: 0 auto;
      height: auto;
      max-width: 215px;
      background-size: cover;
      filter: brightness(60%);
        &:hover {
          @include transition(.25s);
          filter: brightness(100%);
        }
    }
  }
}
/* -------------- HOT, BAKE, SNACK, DESSERT, ADVICE --------------*/
/* Content-section */
.recipe-section {
  margin-bottom: 50px;
    .content {
      margin-left: 20px;
    }
    .content_text {
      background-image: url(../images/content-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 6%;
      text-align: center;
        a {
          @include transition-1s;
          @extend %recipe-title;
          font-size: $font-size-default+6;
            &:hover {
              @include transition(.25s);
              color: $color-red;
            }
            & img {
              @include border-radius(20px);
              border: $border-brown;
              width: 70%;
              height: auto;
              margin-top: 10px;
            }
        }
    }
}

/* Recipes page */
.recipe-content {
  @include border-radius(20px);
  border: $border-brown;
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 70px;
  margin-bottom: 40px;
  padding-bottom: 20px;
    .recipe-title {
      margin-top: 25px;
        h1{
          @extend %recipe-title;
          text-align: center;
        }
        img {
          @include border-radius(20px);
          border: $border-brown;
          height: auto;
          margin-top: 20px;
          margin-bottom: 16px;
        }
        .recipe-ingredients {
          font-size: $font-size-default+2;
          @include border-radius(40px);
          font-family: 'Underdog', cursive;
          margin-top: 25px;
          margin-bottom: 20px;
          padding: 25px;
            .ingredients-title {
              font-size: $font-size-default+4;
              padding-bottom: 10px;
            }
            li {
              line-height: $line-height-default;
                &::before {
                  content: "✓ ";
                }
            }
        }
    }
  .recipe_text {
    font-size: $font-size-default+2;
    line-height: $line-height-default;
    font-family: 'Underdog', cursive;
    text-align: justify;
    padding: 0 20px;
  }
}
.button-section {
  vertical-align:bottom;
  display:inline-block;
  float: right;
  margin-top: 16px;
    .print-button {
      @include transition-1s;
      @include border-radius(10px);
      background-color: rgba(255, 255, 255, 0.51);
      font-size: $font-size-default;
      border: $border-brown;
      padding: 5px 10px;
        &:hover {
          @include transition(.4s);
          background-color: $color-red;
          color: $color-gold;
        }
    }
}

/* Advice page */
#advice-page {
  .advice-section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img {
    max-width: 50px;
  }
  .advice_text{
    margin-top: 12px;
    text-align: left;
  }
  a {
    color: #000000;
    text-decoration: none;
    font-family: $font-Ametist;
    font-size: 22px;
    &:hover {
      color: $color-red;
      text-decoration: none;
    }
  }
}

/* @media */
@include mq($max-width: 991px) {
  /* NAVBAR */
  .navbar-default {
    .navbar-brand {
      img {
        width: 90px;
      }
    }
    .navbar-nav > li > a {
      margin-top: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
@include mq($max-width: 768px) {
  /* Content-section */
  .recipe-section {
    margin-bottom: 20px;
    .content {
      margin-left: auto;
    }
    .content_text {
      padding: 10%;
      a {
        font-size: $font-size-default+2;
        & img {
          height: auto;
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }
    }
  }
  /* Recipes page */
  .recipe-content {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  /* Advice page */
  #advice-page {
    img {
      max-width: 40px;
    }
    .advice_text{
      margin-top: 10px;
    }
  }
}
@include mq($max-width: 480px) {
  /* Recipes page */
  .recipe-content {
    margin-top: 30px;
    margin-bottom: 20px;
    }
  /* Recipes page */
  .recipe-content {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  /* Advice page */
  #advice-page {
    .advice-section {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    img {
      display: none;
    }
    a {
      font-size: 16px;
    }
  }
}
