@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/border-radius", "compass/css3/transition";

@include font-face("Ametist", font-files("Ametist.ttf"));

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  background-image: url(../images/bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#index-bg {
  background-image: url(../images/bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* -------------- INDEX.HTML --------------*/
/* NAVBAR */
.navbar-default {
  background-color: rgba(255, 255, 255, 0.51);
  margin-top: 30px;
  border: none;
}
.navbar-brand {
  margin-top: -40px;
}
.navbar-brand img {
  width: 100px;
  padding: 0;
}
.navbar-default .navbar-nav > li {
  background-color: #b2171d;
  font-family: "Ametist", cursive;
  font-size: 18px;
  margin-left: 1px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}
.navbar-default .navbar-nav > li > a {
  color: #e6e0b7;
  -webkit-transition: all ease 1.0s;
     -moz-transition: all ease 1.0s;
          transition: all ease 1.0s;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: none;
  color: white;
  -webkit-transition: all ease .5s;
     -moz-transition: all ease .5s;
          transition: all ease .5s;
}
.navbar-right .btn-default {
  background-color: #b2171d;
  margin-left: 1px;
  border: none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.navbar-right .btn-default .search-text {
  font-family: "Ametist", cursive;
  color: #e6e0b7;
  font-size: 14px;
}
.navbar-right .btn-default .search-text:hover {
  transition: all .5s;
  text-decoration: none;
  color: white;
}
.form-control {
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.form-control input {
  color: #e6e0b7;
}

/* GALLERY */
#carousel-container {
  margin-top: 50px;
}
.sliders-section {
  border: 5px dashed #000;
}
#custom_carousel img {
  max-height: 600px;
  background-size: cover;
}
#custom_carousel a h1 {
  position: absolute;
  top: 92%;
  left: 70%;
  font-family: "Ametist", cursive;
  color: #fff;
  font-size: 30px;
}
.controls ul li a {
  text-align: center;
}
.controls img {
  margin: 0 auto;
  height: auto;
  max-width: 215px;
  background-size: cover;
  filter: brightness(60%);
  -webkit-transition: all ease 1.0s;
     -moz-transition: all ease 1.0s;
          transition: all ease 1.0s;
}
.controls img:hover {
  cursor: pointer;
  filter: brightness(100%);
  -webkit-transition: all ease .25s;
     -moz-transition: all ease .25s;
          transition: all ease .25s;
}
.controls li .active {
  filter: brightness(100%);
  -webkit-transition: all ease .5s;
     -moz-transition: all ease .5s;
          transition: all ease .5s;


}

/* -------------- HOT, BAKE, SNACK, DESSERT, ADVICE --------------*/
/* Content */
.content {
  background-color: #fffff5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(189, 176, 157, 0.51);
  margin-top: 70px;
}

.content_text {
  margin-top: 10px;
  text-align: center;
}

.content_text > a {
  text-decoration: none;
  font-family: "Ametist", cursive;
  font-size: 30px !important;
  color: black;
}

.content_text > a:hover {
  text-decoration: none;
  color: #b2171d;
}

.content_text > a > img {
  border: 1px solid #bdb09d;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin: 30px 0px 40px 0px;
}

/* Advice page */
#advice-img_1 {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advice-img {
  width: 50px;
  margin-bottom: 20px;
}

.advice_text{
  margin-top: 9px;
  margin-left: -20px;
  text-align: justify;
}

.advice_text > a {
  text-decoration: none;
  font-family: "Ametist", cursive;
  font-size: 22px !important;
  color: black;
}

.advice_text > a:hover {
  text-decoration: none;
  color: #b2171d;
}

.advice_text_1{
  margin-top: 27px;
  margin-left: -20px;
  text-align: justify;
}

.advice_text_1 > a {
  text-decoration: none;
  font-family: "Ametist", cursive;
  font-size: 22px !important;
  color: black;
}

.advice_text_1 > a:hover {
  text-decoration: none;
  color: #b2171d;
}

.advice_text_2 {
  font-family: "Jura", "san-serif";
  margin: 10px 20px 10px 20px;
  text-align: justify;
}

.advice_text_2 > h1 {
  text-align: center;
}

.advice_text_2 > ul > li {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.advice_text_2 > ol > li  {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Recepies page */
.recepie_img {
  border: 1px solid #bdb09d;
  margin-top: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.ingridients {
  font-family: "Jura", "san-serif";
  font-size: 18px;
}

.ingridients > ul {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.recepie_text {
  text-align: justify;
  font-family: "Jura", "san-serif";
  margin-top: 15px;
}

.recepie_text > h1 {
  text-align: center;
  margin-bottom: 5px;
}

.recepie_text > ol {
  font-size: 20px;
}
.recepie_text > ul {
  font-size: 20px;
}

/* Image resize */
.blokimg {position: relative;}


.overlay{
  display: none;
  height: auto;
  position: absolute;
  right: -26%;
  width: auto;
  z-index: 999;
}
.overlay .overlay_container{
  display: table-cell;
  vertical-align: middle;
}
.overlay_container img{
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.overlay:target {
  display: table;
}

/* Share buttons */
#share-buttons {
  margin: 15px 0px 10px 0px;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline-block;
}

.search {
  float: right;
}
