@font-face {
    font-family: Ametist;
    src: url(fonts/Ametist.ttf);
}

/* Main */
body {
    background-image: url(images_1/bg_1.jpg);
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
}

#name {
    font-family: "Ametist", cursive;
    font-size: 14px;
    font-weight: bold;
}


.jumbotron {
    background-image: url(images_1/bg_1.jpg);
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
}

.header {
    margin-top: -40px;
    margin-bottom: 10px;
}

p {
    font-family: "Jura", "san-serif";
}

h1 {
    font-family: "Ametist", cursive;
    font-size: 36px !important;
}

/* Navigation */
#navbar {
    margin-top: -6px;
}

#navbar > ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#navbar > ul > li {
    float: left;
}

#navbar > ul > li > a {
    display: block;
    color: #e6e0b7;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 22px;
    background-color: #b2171d;
    border-right: 1px solid white;
    margin-top: 50px;
    border-bottom: 4px solid #f1f1eb;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-family: "Ametist", cursive;
}

#navbar > ul > li > a:hover {
    text-decoration: none;
    color: white;

}

/* Content */
.index_content {
    background-color: #fffff5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #bdb09d;
    margin-top: 30px;
}

.index_content > p {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Jura", "san-serif";
}

.content {
    background-color: #fffff5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #bdb09d;
    margin-top: 170px;
}

.content_text {
    margin-top: 10px;
    text-align: center;
}

.content_text > a {
    text-decoration: none;
    font-family: "Ametist", cursive;
    font-size: 30px !important;
    color: black;
}

.content_text > a:hover {
    text-decoration: none;
    color: #b2171d;
}

.content_text > a > img {
    border: 1px solid #bdb09d;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin: 30px 0px 40px 0px;
}

/* Advice page */
#advice-img_1 {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.advice-img {
    width: 50px;
    margin-bottom: 20px;
}

.advice_text{
    margin-top: 9px;
    margin-left: -20px;
    text-align: justify;
}

.advice_text > a {
    text-decoration: none;
    font-family: "Ametist", cursive;
    font-size: 22px !important;
    color: black;
}

.advice_text > a:hover {
    text-decoration: none;
    color: #b2171d;
}

.advice_text_1{
    margin-top: 27px;
    margin-left: -20px;
    text-align: justify;
}

.advice_text_1 > a {
    text-decoration: none;
    font-family: "Ametist", cursive;
    font-size: 22px !important;
    color: black;
}

.advice_text_1 > a:hover {
    text-decoration: none;
    color: #b2171d;
}

.advice_text_2 {
    font-family: "Jura", "san-serif";
    margin: 10px 20px 10px 20px;
    text-align: justify;
}

.advice_text_2 > h1 {
    text-align: center;
}

.advice_text_2 > ul > li {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.advice_text_2 > ol > li  {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Recepies page */
.recepie_img {
    border: 1px solid #bdb09d;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.ingridients {
    font-family: "Jura", "san-serif";
    font-size: 18px;
}

.ingridients > ul {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.recepie_text {
    text-align: justify;
    font-family: "Jura", "san-serif";
    margin-top: 15px;
}

.recepie_text > h1 {
    text-align: center;
    margin-bottom: 5px;
}

.recepie_text > ol {
    font-size: 20px;
}
.recepie_text > ul {
    font-size: 20px;
}

/* Image resize */
.blokimg {position: relative;}


.overlay{
    display: none;
    height: auto;
    position: absolute;
    right: -26%;
    width: auto;
    z-index: 999;
}
.overlay .overlay_container{
    display: table-cell;
    vertical-align: middle;
}
.overlay_container img{
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.overlay:target {
    display: table;
}

/* Share buttons */
#share-buttons {
    margin: 15px 0px 10px 0px;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline-block;
}

.search {
    float: right;
}

/* Slider */
.carousel {
    height: 500px;
}
.carousel .item {
    height: 500px;
}
.carousel-inner > .item > img {
    min-width: 100%;
    height: 500px;
}
.carousel-caption h4 {
    font-size: 300%;
}
.carousel-caption h1 {
    color: #fff;
    font-size: 6rem;
    font-family: "Ametist", cursive;
}
.carousel-caption h1 span {
    color: #fff;
    font-size: 4rem;
    text-shadow: none;
}

.carousel-caption h1 {
    animation: baner 12s ease-in 0.2s infinite;
    -moz-animation: baner 12s ease-in 0.2s infinite;
    -webkit-animation: baner 12s ease-in 0.2s infinite;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    display: inline-block;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
@-webkit-keyframes baner {
    0% {
        -webkit-transform: perspective(300px) rotateY(0deg);
    }
    15%, 100% {
        -webkit-transform: perspective(300px) rotateY(360deg);
    }
}
@-moz-keyframes baner {
    0% {
        -moz-transform: perspective(300px) rotateY(0deg);
    }
    15%, 100% {
        -moz-transform: perspective(300px) rotateY(360deg);
    }
}
@keyframes baner {
    0% {
        transform: perspective(300px) rotateY(0deg);
    }
    15%, 100% {
        transform: perspective(300px) rotateY(360deg);
    }
}
.btn-opacity,.btn-opacity:hover {background:transparent;color:#fff;border:1px solid #fff;}






