@charset "UTF-8";
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Ametist";
  src: url('../fonts/Ametist.ttf') format('truetype');
}
@font-face {
  font-family: "Underdog";
  src: url('../fonts/Underdog.ttf') format('truetype');
}
/* line 30, ../sass/stylesheet.scss */
.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-right .btn-default .search-text:hover {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-decoration: none;
  color: white;
}

/* line 35, ../sass/stylesheet.scss */
.recipe-section .content_text a, .recipe-content .recipe-title h1 {
  color: #68310f;
  font-family: "Ametist", cursive;
  font-size: 28px;
}

/* Bootstrap settings */
/* line 42, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 43, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* Global */
/* line 49, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 50, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 52, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* line 57, ../sass/stylesheet.scss */
body {
  background-image: url(../images/bg3.jpg);
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: contain;
}

/* line 63, ../sass/stylesheet.scss */
#index-bg {
  background-image: url(../images/bg1.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* -------------- INDEX.HTML --------------*/
/* NAVBAR */
/* line 72, ../sass/stylesheet.scss */
.navbar-default {
  background-color: rgba(255, 255, 255, 0.51);
  margin-top: 30px;
  border: none;
}
/* line 76, ../sass/stylesheet.scss */
.navbar-default .navbar-brand {
  margin-top: -40px;
}
/* line 78, ../sass/stylesheet.scss */
.navbar-default .navbar-brand img {
  width: 100px;
  padding: 0;
}
/* line 83, ../sass/stylesheet.scss */
.navbar-default .navbar-nav > li {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #b2171d;
  font-family: "Ametist", cursive;
  font-size: 18px;
  margin-left: 1px;
}
/* line 89, ../sass/stylesheet.scss */
.navbar-default .navbar-nav > li a {
  -webkit-transition: all ease 1.0s;
  -moz-transition: all ease 1.0s;
  -o-transition: all ease 1.0s;
  transition: all ease 1.0s;
  color: #e6e0b7;
}
/* line 98, ../sass/stylesheet.scss */
.navbar-default .navbar-right .form-control {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 100, ../sass/stylesheet.scss */
.navbar-default .navbar-right .form-control input {
  color: #e6e0b7;
}
/* line 104, ../sass/stylesheet.scss */
.navbar-default .navbar-right .btn-default {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #b2171d;
  margin-left: 1px;
  border: none;
}
/* line 109, ../sass/stylesheet.scss */
.navbar-default .navbar-right .btn-default .search-text {
  -webkit-transition: all ease 1.0s;
  -moz-transition: all ease 1.0s;
  -o-transition: all ease 1.0s;
  transition: all ease 1.0s;
  color: #e6e0b7;
  font-family: "Ametist", cursive;
  font-size: 14px;
}

/* GALLERY */
/* line 123, ../sass/stylesheet.scss */
#carousel-container {
  margin-top: 50px;
}
/* line 125, ../sass/stylesheet.scss */
#carousel-container .sliders-section {
  border: 5px dashed #000000;
}
/* line 129, ../sass/stylesheet.scss */
#carousel-container #custom_carousel img {
  max-height: 600px;
  background-size: cover;
}
/* line 133, ../sass/stylesheet.scss */
#carousel-container #custom_carousel a h1 {
  -webkit-transition: all ease 1.0s;
  -moz-transition: all ease 1.0s;
  -o-transition: all ease 1.0s;
  transition: all ease 1.0s;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #e6e0b7;
  border: 1px solid #e6e0b7;
  font-family: "Ametist", cursive;
  font-size: 28px;
  position: absolute;
  bottom: 3%;
  right: 2%;
  padding: 10px;
  background-color: rgba(178, 23, 29, 0.8);
}
/* line 145, ../sass/stylesheet.scss */
#carousel-container #custom_carousel a h1:hover {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: white;
}
/* line 150, ../sass/stylesheet.scss */
#carousel-container #custom_carousel #slide-title-1 {
  -webkit-animation-delay: 0.8s;
}
/* line 153, ../sass/stylesheet.scss */
#carousel-container #custom_carousel #slide-title-2 {
  -webkit-animation-delay: 0.8s;
}
/* line 156, ../sass/stylesheet.scss */
#carousel-container #custom_carousel #slide-title-3 {
  -webkit-animation-delay: 0.8s;
}
/* line 159, ../sass/stylesheet.scss */
#carousel-container #custom_carousel #slide-title-4 {
  -webkit-animation-delay: 0.8s;
}

/* line 166, ../sass/stylesheet.scss */
#controls-container .controls ul li a {
  text-align: center;
}
/* line 169, ../sass/stylesheet.scss */
#controls-container .controls li .active {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  filter: brightness(100%);
}
/* line 173, ../sass/stylesheet.scss */
#controls-container .controls img {
  -webkit-transition: all ease 1.0s;
  -moz-transition: all ease 1.0s;
  -o-transition: all ease 1.0s;
  transition: all ease 1.0s;
  margin: 0 auto;
  height: auto;
  max-width: 105%;
  background-size: cover;
  filter: brightness(60%);
}
/* line 180, ../sass/stylesheet.scss */
#controls-container .controls img:hover {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
  filter: brightness(100%);
}

/* line 187, ../sass/stylesheet.scss */
.main-page-desc {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #b2171d;
  font-family: "Ametist", cursive;
  font-size: 22px;
  text-align: center;
  color: #e6e0b7;
  padding: 30px 16px;
  margin-top: 40px;
}

/* -------------- HOT, BAKE, SNACK, DESSERT, ADVICE --------------*/
/* Content-section */
/* line 199, ../sass/stylesheet.scss */
.recipe-section {
  margin-bottom: 50px;
}
/* line 201, ../sass/stylesheet.scss */
.recipe-section .content {
  margin-left: 20px;
}
/* line 204, ../sass/stylesheet.scss */
.recipe-section .content_text {
  background-image: url(../images/content-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6%;
  text-align: center;
}
/* line 210, ../sass/stylesheet.scss */
.recipe-section .content_text a {
  -webkit-transition: all ease 1.0s;
  -moz-transition: all ease 1.0s;
  -o-transition: all ease 1.0s;
  transition: all ease 1.0s;
  font-size: 20px;
}
/* line 214, ../sass/stylesheet.scss */
.recipe-section .content_text a:hover {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
  color: #b2171d;
}
/* line 218, ../sass/stylesheet.scss */
.recipe-section .content_text a img {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #68310f;
  width: 70%;
  height: auto;
  margin-top: 10px;
}

/* Recipes page */
/* line 230, ../sass/stylesheet.scss */
.recipe-content {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #68310f;
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 70px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
/* line 237, ../sass/stylesheet.scss */
.recipe-content .recipe-title {
  margin-top: 25px;
}
/* line 239, ../sass/stylesheet.scss */
.recipe-content .recipe-title h1 {
  text-align: center;
}
/* line 243, ../sass/stylesheet.scss */
.recipe-content .recipe-title img {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #68310f;
  height: auto;
  margin-top: 20px;
  margin-bottom: 16px;
}
/* line 250, ../sass/stylesheet.scss */
.recipe-content .recipe-title .recipe-ingredients {
  font-size: 16px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-family: 'Underdog', cursive;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 25px;
}
/* line 257, ../sass/stylesheet.scss */
.recipe-content .recipe-title .recipe-ingredients .ingredients-title {
  font-size: 18px;
  padding-bottom: 10px;
}
/* line 261, ../sass/stylesheet.scss */
.recipe-content .recipe-title .recipe-ingredients li {
  line-height: 20px;
}
/* line 263, ../sass/stylesheet.scss */
.recipe-content .recipe-title .recipe-ingredients li::before {
  content: "✓ ";
}
/* line 269, ../sass/stylesheet.scss */
.recipe-content .recipe_text {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Underdog', cursive;
  text-align: justify;
  padding: 0 20px;
}

/* line 277, ../sass/stylesheet.scss */
.button-section {
  vertical-align: bottom;
  display: inline-block;
  float: right;
  margin-top: 16px;
}
/* line 282, ../sass/stylesheet.scss */
.button-section .print-button {
  -webkit-transition: all ease 1.0s;
  -moz-transition: all ease 1.0s;
  -o-transition: all ease 1.0s;
  transition: all ease 1.0s;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  font-size: 14px;
  border: 1px solid #68310f;
  padding: 5px 10px;
}
/* line 289, ../sass/stylesheet.scss */
.button-section .print-button:hover {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  background-color: #b2171d;
  color: #e6e0b7;
}

/* Advice section */
/* line 299, ../sass/stylesheet.scss */
#advice-page .advice-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 303, ../sass/stylesheet.scss */
#advice-page img {
  max-width: 50px;
}
/* line 306, ../sass/stylesheet.scss */
#advice-page .advice_text {
  margin-top: 12px;
  text-align: left;
}
/* line 310, ../sass/stylesheet.scss */
#advice-page a {
  color: #000000;
  text-decoration: none;
  font-family: "Ametist", cursive;
  font-size: 22px;
}
/* line 315, ../sass/stylesheet.scss */
#advice-page a:hover {
  color: #b2171d;
  text-decoration: none;
}

/* Advice page */
/* line 323, ../sass/stylesheet.scss */
#advice-page {
  font-family: "Ametist", cursive;
  font-size: 18px;
  line-height: 24px;
}
/* line 327, ../sass/stylesheet.scss */
#advice-page p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
/* line 331, ../sass/stylesheet.scss */
#advice-page p::before {
  content: "✓ ";
}
/* line 335, ../sass/stylesheet.scss */
#advice-page .advice-content {
  padding: 0 20px;
}
/* line 337, ../sass/stylesheet.scss */
#advice-page .advice-content h2 {
  margin-top: 30px;
}
/* line 342, ../sass/stylesheet.scss */
#advice-page .advices-list li {
  margin-bottom: 20px;
}
/* line 344, ../sass/stylesheet.scss */
#advice-page .advices-list li::before {
  content: "✓ ";
}
/* line 347, ../sass/stylesheet.scss */
#advice-page .advices-list li:first-child {
  margin-top: 30px;
}

/* @media */
@media only screen and (max-width: 1200px) {
  /* GALLERY */
  /* line 359, ../sass/stylesheet.scss */
  #controls-container .controls img {
    max-width: 110%;
  }
}
@media only screen and (max-width: 991px) {
  /* NAVBAR */
  /* line 370, ../sass/stylesheet.scss */
  .navbar-default .navbar-brand img {
    width: 90px;
  }
  /* line 374, ../sass/stylesheet.scss */
  .navbar-default .navbar-nav > li > a {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* GALLERY */
  /* line 385, ../sass/stylesheet.scss */
  #controls-container .controls ul {
    text-align: center;
  }
  /* line 387, ../sass/stylesheet.scss */
  #controls-container .controls ul li {
    display: inline;
  }
  /* line 391, ../sass/stylesheet.scss */
  #controls-container .controls img {
    display: inline;
    max-width: 23%;
    margin: 0px;
  }
}
@media only screen and (max-width: 796px) {
  /* NAVBAR */
  /* line 403, ../sass/stylesheet.scss */
  .navbar-default .navbar-right .form-group {
    max-width: 140px;
  }
  /* line 406, ../sass/stylesheet.scss */
  .navbar-default .navbar-right .form-control {
    padding: 2px 2px;
  }
}
@media only screen and (max-width: 768px) {
  /* GALLERY */
  /* line 414, ../sass/stylesheet.scss */
  #carousel-container {
    margin-top: 50px;
  }
  /* line 416, ../sass/stylesheet.scss */
  #carousel-container .sliders-section {
    border: 5px solid #000000;
  }
  /* line 420, ../sass/stylesheet.scss */
  #carousel-container #custom_carousel a h1 {
    font-size: 18px;
    padding: 10px;
  }

  /* Content-section */
  /* line 427, ../sass/stylesheet.scss */
  .recipe-section {
    margin-bottom: 20px;
  }
  /* line 429, ../sass/stylesheet.scss */
  .recipe-section .content {
    margin-left: auto;
  }
  /* line 432, ../sass/stylesheet.scss */
  .recipe-section .content_text {
    padding: 10%;
  }
  /* line 434, ../sass/stylesheet.scss */
  .recipe-section .content_text a {
    font-size: 16px;
  }
  /* line 436, ../sass/stylesheet.scss */
  .recipe-section .content_text a img {
    height: auto;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  /* Recipes page */
  /* line 445, ../sass/stylesheet.scss */
  .recipe-content {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* Advice page */
  /* line 451, ../sass/stylesheet.scss */
  #advice-page img {
    max-width: 40px;
  }
  /* line 454, ../sass/stylesheet.scss */
  #advice-page .advice_text {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  /* GALLERY */
  /* line 463, ../sass/stylesheet.scss */
  #carousel-container #custom_carousel a h1 {
    font-size: 15px;
    padding: 7px;
  }

  /* line 469, ../sass/stylesheet.scss */
  .main-page-desc {
    font-size: 18px;
  }

  /* Recipes page */
  /* line 473, ../sass/stylesheet.scss */
  .recipe-content {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* Recipes page */
  /* line 478, ../sass/stylesheet.scss */
  .recipe-content {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* Advice page */
  /* line 484, ../sass/stylesheet.scss */
  #advice-page .advice-section {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* line 488, ../sass/stylesheet.scss */
  #advice-page img {
    display: none;
  }
  /* line 491, ../sass/stylesheet.scss */
  #advice-page a {
    font-size: 16px;
  }
}
